[submodule "opt/llama.cpp"]
	path = opt/llama.cpp
	url = https://github.com/FlexNetOS/llama.cpp.git
[submodule "opt/llama-cpp-rs"]
	path = opt/llama-cpp-rs
	url = https://github.com/FlexNetOS/llama-cpp-rs.git
[submodule "opt/wiki-rs"]
	path = opt/wiki-rs
	url = https://github.com/FlexNetOS/wiki-rs.git
[submodule "opt/sqlx"]
	path = opt/sqlx
	url = https://github.com/FlexNetOS/sqlx.git
